h2 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 20px;
}

/* Styling for Accordion */
.accordion {
  width: 100%;
}

.accordion .accordion-item {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  border-radius: 5px;
}

.accordion .accordion-header {
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}

.accordion .accordion-body {
  padding: 15px;
}

.accordion .accordion-body ul {
  list-style-type: none;
  padding: 0;
}

.accordion .accordion-body li {
  margin-bottom: 5px;
}

/* Styling for Projects within Accordion */
.accordion .project-title {
  font-weight: bold;
  color: #555;
}